@model string
@*<head>
		<environment names="Development">
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
			<link rel="stylesheet" href="~/css/site.css" />
		</environment>
		<environment names="Staging,Production">
			<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
				  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
				  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
			<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
		</environment>
	</head>
	<body>

		<p class="btn btn-primary btn-xs model-tree-element" data-toggle="collapse" data-target="#STABILIZER" aria-expanded="true">/STABILIZER</p>
		<ul class="  in" style="padding: 10px;" id="STABILIZER" aria-expanded="true">

*@<ul id="model_explorer" style="padding-left: 10px;">
        @Html.Raw(Model.Replace("[ ]","[+]"))
    </ul>@*
	@*</body>*@