@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
</head>
<body style="padding:0px;">
	<table style="width:100%; height:100%">
		<tr>
			<td width="20%">
				<div style="position:absolute; width:20%; height: 90%; left:5px; top: 50px; bottom:50px;" class="navbar-left">
					<iframe id="modelTreeFrame" style="width:100%; height: 100%;"></iframe>
				</div>
			</td>
			<td width="80%">
				<table style="width:100%; height:100%">
					<tr>
						<td></td>
					</tr>
					<tr>
						<td>
							<div id="" style="left:0px; top: 0px; ">
								<iframe src="~/Model" id="modelViewFrame" style="width:100%; height: 100%;"></iframe>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
</html>

@{
	ViewBag.Title = "ShowModel";
}


